API_V1_STR="/api/v1"
AWS_ACCESS_KEY_ID=
AWS_BEARER_TOKEN_BEDROCK=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION="us-east-1"
HuggingFaceLLM=
ENVIRONMENT="production"
API_NAME="NYC Hospital SPARCS Agent"
APP_STATUS="/api/app_status"
APP_OID="nyc_hospital_sparcs_agent"
X_API_AUTH_TITLE="X-API-AUTH"
X_PRIVATE_API_KEY="KEY IS TOO EASY"
HF_TOKEN=
ANTHROPIC_API_KEY=
PYTHON_VERSION="3.11.15"
BASE_URL="http://127.0.0.1:8000"
STREAMLIT_URL="http://127.0.0.1:8501"
REDIS_URL="http://127.0.0.1:6879"
# Options are Anthropic, Ollama, AmazonBedrock, HuggingFace
LLM_TO_USE="Anthropic" # options are Anthropic, Ollama, HuggingFace or AmazonBedrock
ANTHROPIC_LLM_MODEL="claude-sonnet-4-5-20250929"
OLLAMA_LLM_MODEL="ollama3.2"
HUGGING_FACE_LLM_MODEL="meta-llama/Llama-3.1-8B-Instruct"
HUGGING_FACE_TOKENIZER_MODEL="meta-llama/Llama-3.1-8B-Instruct"
HUGGING_FACE_CONTEXT_WINDOW=16384
HUGGING_FACE_MAX_NEW_TOKENS=8192
HUGGING_FACE_TEMPERATURE=0.7
BEDROCK_LLM_MODEL="meta.llama3-3-70b-instruct-v1:0"
BEDROCK_MAX_TOKENS=8192
OMP_NUM_THREADS=1 
PYTHONFAULTHANDLER=1
DEFAULT_NUM_OUTPUTS = 1024
DEFAULT_NUM_GPU = -1
ANTHROPIC_MAX_TOKENS = 16384
OLLAMA_MAX_TOKENS = 8192
OLLAMA_MAX_MEMORY = 4096
OLLAMA_DEFAULT_TIMEOUT = 120.0
OLLAMA_REQUEST_TIMEOUT="20m"
